/************************************
    Jarrod HILES
    CSS for the Challenge Page (ChallengePage.aspx)

************************************/
div#content_window {
    max-width: 1100px;
    min-width: 1100px;
    display:inline-block;
    margin-left:20px;
    height:auto;
}
form {
    min-width: 1175px;
}
div#user_monsters{
    float:left;
}
div#other_monsters{
    float:left;
}
div#vs_text{
    float:left;
    height:200px;
    padding:0px 5px 0px 5px;
    
}
div#user_monsters, div#other_monsters{
    background-color:rgba(100, 100, 100, 1);
    min-height:150px;
    max-height:400px;
    overflow-y:scroll;
    width: 500px;
}

div.image{
    float:left;
    display:inline-block;
    height:140px;
    width: 100px;
    padding: 0px 10px 0px 10px;
    background-color:rgb(250, 208, 28);
    margin:5px 5px 5px 5px;
}
img{
    max-width:100%;
    max-height:100%;
    display:inline-block;
    top:50%;
    transform: translateY(5%);
    margin:auto;
}
div.stats{
    float:right;
    display:inline-block;
    height:140px;
    width: 325px;
    margin-left: 5px;
    margin-right:5px;
    padding: 0px 10px 0px 10px;
    background-color:rgb(250, 208, 28);
    margin:5px 5px 5px 0px;
}
input#MainContent_btnChallenge {
    display:block;
    font-weight:bold;
    background-color:rgba(255,0,0,1);
    color:rgba(255,255,255,1);
    height:2.2em;
    min-width: 6em;
    padding:3px 12px 5px;
    border: 0;
}
input#MainContent_btnChallenge:hover {
    background-color:rgba(255,25,25,0.8);
    cursor:pointer;
}