/************************************
    Jarrod HILES
    CSS for the Character Management Page (CharacterManagement.aspx)

************************************/
body {
}

div#content_window {
    height: 100%;
}

div#user_monsters{
    display:inline-block;
    background-color:rgba(100, 100, 100, 1);
    min-width: 575px;
    width:100%;
}

div.image{
    float:left;
    display:inline-block;
    height:200px;
    width: 20%;
    padding: 0px 10px 0px 10px;
    background-color:rgb(250, 208, 28);
    margin:5px 5px 5px 5px;
}
img{
    max-width:100%;
    max-height:100%;
    display:inline-block;
    top:50%;
    margin:auto 0px auto 0px;
}
div.stats{
    display:inline-block;
    height:200px;
    width: 60%;
    margin-left: 5px;
    margin-right:5px;
    padding: 0px 10px 0px 10px;
    background-color:rgb(250, 208, 28);
    margin:5px 5px 5px 0px;
}