/************************************
    Jarrod HILES
    CSS for the Fight Outcome Page (FightOutcome.aspx)

************************************/

body {
}

div#content_window {
    display:block;
    margin:20px auto 20px auto;
    height: 90%;
    min-height:200px;
    max-height: 500px;
    max-width:675px;
    /*padding is made larger from the default within main.css to better fill the screen space*/
    padding: 55px 55px 55px 55px;
}