/************************************
    Jarrod HILES
    CSS for the Master Page (Master.Master)

************************************/
div.MainMenuScreen {
    display:block;
    height: 100%;
}
div#MainMenu {
    display:inline-table;
    height: 30px;
    width:100%;
    background-color: rgba(0,0,0,1);
    padding:0px 10px 10px 0px;
    border-radius: 0px 0px 10px 10px;
}

div#content_window {
    display:block;
    margin:20px auto 20px auto;
    height: 90%;
    min-height:200px;
    max-height: 500px;
    max-width:675px;
    /*padding is made larger from the default within main.css to better fill the screen space*/
    padding: 55px 55px 55px 55px;
}

div#MainMenu>a {
    background-color: rgba(80, 180, 255, 1);
    border-radius:10px;
    color:white;
    font-weight:600;
    vertical-align:text-bottom;
    padding:5px;
    padding-left:10px;
    display:inline-flex;
    width:150px;
    height:40px;
    align-items:center;
    margin:10px 0px 0px 10px;
}

div#MainMenu>a:hover {
    background-color: rgba(120, 200, 255, 1);
}


ul {
    color:white;
    list-style-type:none;
}

li {
    padding-top: 4px;
    margin-top:10px;
}

li a{
    color: white;
}

li a:hover{
    text-decoration:none;
    background-color:white;
    color: black;
}

.user_monsters{
    background-color:rgba(100, 100, 100, 1);
    min-width: 575px;
    max-height:475px;
    width:100%;
    overflow-y:scroll;
    padding-top:5px;
}

div.monsterItem {
    display: flex;
    position:relative;
    border: 5px solid rgba(100, 100, 100, 1);
    z-index:1;
}

div.monsterItem:hover {
}

div.image{
    float:left;
    display:inline-block;
    height:150px;
    width: 20%;
    padding: 5px 10px 5px 10px;
    background-color:rgb(250, 208, 28);
    margin:5px 5px 5px 5px;
}
img{
    max-width:100%;
    max-height:100%;
    display:inline-block;
    top:50%;
    transform: translateY(5%);
    margin:auto;
}
div.stats{
    float:right;
    display:inline-block;
    height:150px;
    width: 80%;
    padding: 5px 10px 5px 10px;
    background-color:rgb(250, 208, 28);
    margin:5px 5px 5px 0px;
}