/************************************
    Jarrod HILES
    CSS for the Master Page (Master.Master)

************************************/
div.MainMenuScreen {
    display:block;
    height: 100%;
}
div#MainMenu {
    position: absolute;
    top:50px;
    left:0;
    width:12em;
    display:block;
    height: 90%;
    background-color: rgba(0,0,0,1);
    padding-left:10px;
}

div#content_window {
    display:block;
    margin-left:14em;
    height: 90%;
    min-height:200px;
    max-height: inherit;
}

ul {
    color:white;
    list-style-type:none;
}

li {
    padding-top: 4px;
    margin-top:10px;
}

li a{
    color: white;
}

li a:hover{
    text-decoration:none;
    background-color:white;
    color: black;
}